table, th, td {
    border-collapse: collapse;
}

body {
    font-family: monospace;
    margin: 0px;
}

.header {
    text-align: center;
    background: navy;
    padding: 20px;
    margin: 0px;
    color: white;
}

.row {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.row.bordered {
    border: 4px solid;
}

.cell:first-child {
    border-left: 3px solid;
}

.cell:nth-child(3n) {
    border-right: 3px solid;
    size: 5;

}

.cell-row:first-child {
    border-top: 3px solid;
}

.cell-row:nth-child(3n) {
    border-bottom: 3px solid;
}

.mode-bar {
    text-align: center;
    background: darkgray;
    padding: 3px;
}

.mode-cell {
    background: cadetblue;
    color: white;
    padding: 3px;
    font-size: 20px;
}

.mode-cell:first-child {
    border-right: solid;
    border-color: darkgray;
    border-width: 3px;
}

.mode-cell:hover {
    background: darkcyan;
}

.column {
    display: flex;
    margin: 10px;
}

th, td {
    padding: 3px;
}

td {
    text-align: center;
    width: 48px;
    height: 48px;
}

.invalid {
    background-color: mistyrose;
}
