table, th, td {
    border-collapse: collapse;
}

body {
    font-family: monospace;
}

/* Clear floats after the columns */
.row {
    display: flex;
    padding: 10px;
}

.column {
    margin: 10px;
}

th, td {
    padding: 3px;
}

td {
    text-align:center;
    width:48px;
    height:48px;
}

.horiz {
    border-bottom: 2px solid;
    size: 5;
}

.vert {
    border-right: 2px solid;
}

.invalid {
    background-color: mistyrose;
}
